$black: #1F2123;
$blue: #2866E0;
$white: #FFFFFF;
$grey: #BCBCBD;
$light-blue:#EAF1FF;
$light-coral: #FBEBEC;
$red: #C52F11;
$dim-white: #F2FFF5;
$green: #0E7921;
$dim-blue: #E8EEF6;
$very-dim-blue: #0E2C5A;

$bp-sm: 575px; //MOBILE DEVICES
$bp-md: 768px; //IPADS, TABLETS
$bp-lg: 991px; //SMALL SCREENS, LAPTOPS
$bp-xlg: 1200px; //EXTRA LARGE SCREENS